{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href=" {% static "css/style.css" %} ">
    <title>clients page</title>
</head>
<body>
    <div class="maincon">
        <div class="window" id="windowcon">
            <i id="closedetwin" class="fa-solid fa-xmark close" ></i>
            <div id="detailcontainer">
                
            </div>
        </div>
        <div class="rightcon">
            <div class="minhead">
                <img src=" {% static "images/logo.png" %} " alt="">
            </div>
            <ul>
                <i class="fa-solid fa-arrow-left" id="rightconexpend"></i>
                <a href="{% url "home" %}">
                    <li>
                        <i class="fa-solid fa-house-circle-check"></i>
                        <span>الرئيسية</span>
                    </li>
                </a>
                <a href="{% url "sales" %}">
                    <li>
                        <i class="fa-solid fa-file-export"></i>
                        <span>العمليات</span>
                    </li>
                </a>
                <a href="{% url "clients" %}">
                    <li  class="activeli">
                        <i class="fa-solid fa-users"></i>
                        <span>العملاء</span>
                    </li>
                </a>
                <a href="{% url "profits" %}">
                    <li>
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                        <span>مدفوعات</span>
                    </li>
                </a>
                {% if user.first_name == 'adminName' %}
                <a href="{% url "adminPage" %}">
                    <li>
                        <i class="fa-solid fa-user-tie"></i>
                        <span>المسئول</span>
                    </li>
                </a>
                {% endif %}
            </ul>
            <div class="minfoot">
                <a href="{% url "logout" %}">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </a>
                <span>{{user.username}}</span>
            </div>
        </div>
        <div class="leftcon">
            <div class="status">
                <h2>اضافة عميل</h2>
                <form method="post" action="" style="width: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;">
                    {% csrf_token %}
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <br>
                    <div class="addsell">
                        
                        <div class="wraper">
                            <div class="second">
                                <input name='name' type="text" id="search_bar" class="search_bar" required >
                                <span>اسم العميل</span>
                            </div>
                        </div>
                        <div class="wraper">
                            <div class="second">
                                <input name='opening_balance' min="1" type="number" id="search_bar" class="search_bar" value="0" required >
                                <span>الرصيد الافتتاحى</span>
                            </div>
                        </div>
                        <div class="wraper">
                            <div class="second">
                                <input name='phone' type="number" id="search_bar" class="search_bar" >
                                <span>رقم الهاتف</span>
                            </div>
                        </div>
                        <div class="wraper">
                            <div class="second">
                                <input name='notes' type="text" id="search_bar" class="search_bar"  >
                                <span>ملاحظات</span>
                            </div>
                        </div>
                    </div>
                    <button name="addClient" class="sellbtn">اضافة عميل</button>
                </form>
            </div>
            <div class="status">
                <h2>جميع العملاء</h2>
                <form method="post" action="" style="width: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;">
                    {% csrf_token %}
                    <div class="addsell">
                        <div class="wraper">
                            <div class="first">
                                <input  name="searchInput" value="{{request.POST.searchInput}}" type="text" id="search_bar" class="search_bar" required >
                                <span>بحث باسم العميل</span>
                            </div>
                            <div class="search_res" id="search_res">
                                <table id="suplliersull">
                                    <th></th>
                                    <tbody id="suplliersul">
                                        <tr><td>mohamed abdelghany</td></tr>
                                        <tr><td>mohamed asker</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <button name="search" class="sellbtn" style="width: 40px;"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <a href="{% url "clients" %}" class="sellbtn" style="width: 40px; text-align:center;"><i class="fa-solid fa-arrows-rotate"></i></a>
                    </div>
                </form> 
                {% if clients %}
               <div style="width: 100%; overflow: scroll;">
                <table class="sellstable">
                    <thead>
                        <tr>
                            <th>الكود</th>
                            <th>اسم العميل</th>
                            <th>الرصيد الافتتاحي</th>
                            <th>الرصيد الحالي</th>
                            <th>رقم الهاتف</th>
                            <th>ملاحظات</th>
                            {% if user.first_name == "شبه مسئول" or user.first_name == 'adminName' %}
                            <th>حذف</th>
                            {% endif %}
                            {% if user.first_name == "شبه مسئول" or user.first_name == "مستخدم متقدم" or user.first_name == 'adminName' %}
                            <th>تعديل</th>
                            {% endif %}
                            <th></th>
                        </tr>
                    </thead>
                    {% for client in clients %}
                    <tbody>
                        <tr>
                            <td>{{client.id}}</td>
                            <td>{{client.name}}</td>
                            <td>{{client.opening_balance|floatformat:2}}</td>
                            <td>{{client.rest|floatformat:2}}</td>
                            <td>{{client.phone}}</td>
                            <td>{{client.notes}}</td>
                            {% if user.first_name == "شبه مسئول" or user.first_name == 'adminName' %}
                            <td><button class="sellsdel" id="sellsdel" metadata='
                                <form method="post" action="{% url "clientDelete" client.id %}" style="width: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;">
                                    {% csrf_token %}
                                    <div class="addsell" style="padding: 20px;flex-direction:column;">
                                        <h3 style="color:#3D4B64;">حذف عميل</h3>
                                        <h3 style="color:#FF0000;">"حذف العميل سيؤدى الى حذف جميع المتعلقات به"</h3>
                                        <br>
                                        <i class="fa-regular fa-trash-can" style="color: #ff3333;font-size: 100px;"></i>
                                        <br>
                                    </div>
                                    <button name="clientDelete" class="sellbtn">حذف</button>
                                </form>
                                '><i class="fa-solid fa-trash-can"></i></button></td>
                                {% endif %}
                                {% if user.first_name == "شبه مسئول" or user.first_name == "مستخدم متقدم" or user.first_name == 'adminName' %}
                                <td><button class="sellsup" id="sellsup" metadata='
                                    <form method="post" action="{% url "clientUpdate" client.id %}" style="width: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;">
                                        {% csrf_token %}
                                        <h3 style="color:#3D4B64;">تعديل عميل</h3>
                                    <div class="addsell" style="padding-top: 70px;">
                                        <div class="wraper" style="position: absolute;  left: 35%; top: 20%;z-index: 15;">
                                            <div class="first">
                                                <input value="{{client.name}}" name="name" type="text" id="search_bar" class="search_bar" required >
                                                <span>اسم العميل</span>
                                            </div>
                                            <div class="search_res" id="search_res">
                                                <table id="suplliersull">
                                                    <th></th>
                                                    <tbody id="suplliersul">
                                                        <tr><td>mohamed abdelghany</td></tr>
                                                        <tr><td>mohamed asker</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="wraper" style="width: 20%;">
                                            <div class="second">
                                                <input name= "notes" value="{{client.notes}}" type="text" id="search_bar" class="search_bar" >
                                                <span>ملاحظات</span>
                                            </div>
                                        </div>
                                        <div class="wraper" style="width: 20%;">
                                            <div class="second">
                                                <input name= "phone" value="{{client.phone}}" type="number" id="search_bar" class="search_bar" >
                                                <span>الهاتف</span>
                                            </div>
                                        </div>
                                        <div class="wraper" style="width: 20%;">
                                            <div class="second">
                                                <input name= "opening_balance" min="0" value="{{client.opening_balance}}" type="number" id="search_bar" class="search_bar" >
                                                <span>الرصيد الافتتاحى</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button name= "clientUpdate" class="sellbtn">تعديل</button>
                                </form>
                                '><i class="fa-solid fa-pencil"></i></button></td>
                                {% endif %}
                                <td><a href="{% url "clientpage" client.id %}" class="sellbtn" style="font-size: 15px;padding: 10px; text-decoration:none;">عرض</a></td>
                            </tr>
                    </tbody>
                    {% endfor %}
                </table>
               </div>
                <div class="btnnav">
                    <div>
                        {% if clients.has_previous %}
                        <a href="?page=1"><i class="fa-solid fa-angles-right"></i></a>
                        <a href="?page={{ clients.previous_page_number }}"><i class="fa-solid fa-chevron-right"></i></a>
                        {% endif %}
                        <p>صفحة {{ clients.number }} من {{ clients.paginator.num_pages }}</p>
                    </div>
                    <div>
                        {% if clients.has_next %}
                        <a href="?page={{ clients.next_page_number }}"><i class="fa-solid fa-chevron-left"></i></a>
                        <a href="?page={{ clients.paginator.num_pages }}"><i class="fa-solid fa-angles-left"></i></a>
                        {% endif %}

                    </div>
                </div>
                {% else %}
                <h1>لا يوجد عملاء</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <script src=" {% static "js/select.js" %} "></script>
    <script src=" {% static "js/main.js" %} "></script>
</body>
</html>